extend ../layout

block content
    h1#head Update Activity
        button.btn.btn-primary.pull-right(type="button", data-toggle="modal", data-target="#deleteModal") Delete Activity

    hr

    form(method="post")
        .form-group
            label(for="name")
                b Activity
            input.form-control(type="text", placeholder="Enter Activity Name", name="name", required, value=activity.name)
        .form-group
            label(for="description")
                b Activity Description
            input.form-control(type="text", placeholder="Enter Activity Description", name="description", required, value=activity.description)
        .form-group
            label(for="start_time")
                b Start Time
            input.form-control(type="datetime-local", placeholder="Enter Start Time", name="start_time", required, value=activity.start_time)


        .form-group
            label(for="end_time", required)
                b End Time
            p End time can be set at a later date, if unknown.
            input.form-control(type="datetime-local", placeholder="Enter End Time", name="end_time", value=activity.end_time)

        .form-group
            label(for="place")
                b Location
            input.form-control(type="text", placeholder="Enter Location", name="place", value=activity.place)
                
        .form-group
            label(for="notes")
                b Notes
            textarea.form-control(name="notes") #{activity.notes}
                    
        button.btn.btn-margin(type="button") Cancel
        button.btn.btn-primary.btn-margin(type="submit") Update

    form(method="post", action="/activities/delete/" + activity._id)
        #deleteModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="deleteModalLabel")
            .modal-dialog(role="document")
                .modal-content
                    .modal-header.bg-info
                        button.close(type="button", data-dismiss="modal", aria-label="Close")
                            span(aria-hidden="true") &times;
                        h4#deleteModalLabel.modal-title Delete Activity
                    .modal-body 
                        | Are you sure you want to delete?
                    .modal-footer
                        button.btn.btn-default(type="button", data-dismiss="modal") Close
                        button.btn.btn-primary(type="submit") Delete